ompiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

#IDEA file
*.iml

target
.project
.classpath
.settings
.idea/
.svn
.settings
.classpath
.project
logs/
${sys:app.home}/

