<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss} | %-5level | %t | %class{36}.%M()_%L: %msg%xEx%n"/>
        </Console>
    </appenders>
    <loggers>

        <!--<logger name="org.hibernate.hql.internal.ast.QueryTranslatorImpl" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>-->
        <logger name="com.douyu" level="INFO" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="io.fabric8.kubernetes.client.Config" level="ERROR" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <logger name="com.mongodb" level="ERROR" additivity="false">
            <appender-ref ref="console"/>
        </logger>
        <root level="INFO">
            <appender-ref ref="console"/>
        </root>
    </loggers>
</configuration>