<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" shutdownHook="disable">
    <properties>
        <property name="ocean.log.dir">${sys:app.home:-/tmp}/logs</property>
        <property name="ocean.service.name">${sys:app.name:-demo}</property>
    </properties>
    <appenders>
        <!-- console debug print -->
        <Console name="ConsolePrint" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} | %-5level | %t | %class{36}.%M()_%L: %msg%xEx%n" />
        </Console>
        <!--file show -->
        <RollingFile name="BusinessFile"
                     fileName="${ocean.log.dir}/business/${sys:ocean.service.name}.biz.log"
                     filePattern="${ocean.log.dir}/business/${sys:ocean.service.name}.%d{yyyy-MM-dd}.%i.biz.log">
            <!-- business type pattern -->
            <PatternLayout pattern="%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} | %-5level | %traceId | %t | %class{36}.%M()_%L: %msg%xEx%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>
            <DefaultRolloverStrategy max="10">
                <Delete basePath="${ocean.log.dir}/business" maxDepth="1">
                    <IfFileName glob="*.log"/>
                    <IfLastModified age="15d"/>
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </appenders>
    <loggers>
        <root level="INFO">
            <appender-ref ref="BusinessFile"/>
            <appender-ref ref="ConsolePrint"/>
        </root>
    </loggers>
</configuration>